<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/43ee8fadd4.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body> 
    <header class="main-header">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo">
        
        <input class="buscador" type="text" placeholder="Buscar productos, marcas...">
        <p class="info">
            <i class="fa-solid fa-hand-holding-dollar"></i> 
            Comprá en cuotas y sin tarjeta de crédito
        </p>

        <ul class="listas">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="listas">
            <li><a href="/">Home<i class="fa-solid fa-house"></i></a></li>
            <li><a href="login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>

        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    </header>
    <main class="main-container">
        <h3>Formulario de Registro</h3>
        <form class="formulario">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$">
            <label for="usuario">Nombre de usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="Usuario">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="example@gotmail.com" pattern="^(\w+[/./-]?){1,}@[a-z]+[/.]\w{2,}$">
            <label for="nacimiento">Fecha de Nacimiento</label>
            <input type="date" name="nacimiento" id="nacimiento">
            <label for="domicilio">Domicilio</label>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            
            <div><h4>Perfil de usuario:</h4>
                <label>
                    <input type="radio" name="perfil" required>
                    Comprador
                </label>
                <label>
                    <input type="radio" name="perfil">
                    Vendedor
                </label>
            </div>
            <div class="intereses">
                <h4>Elige tus intereses:</h4>
                <label>
                    <input type="checkbox" name="intereses" value="electro" checked>
                    Electro
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="moda">
                    Moda
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="hogar">
                    Hogar
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="jugueteria">
                    Jugueteria
                </label>
                <label>
                    <input type="checkbox" name="intereses" value="vida">
                    Vida sana
                </label>
         </div>
         <label for="foto">Foto de usuario</label>
            <input type="file" name="foto" id="foto" accept=".jpg">
            <label for="contrasenia">Contraseña</label>
            <input type="password" name="contrasenia" id="contrasenia">
            <label for="conf-contrasenia">Confirmar contraseña</label>
            <input type="password" name="conf-contrasenia" id="conf-contrasenia">
         <button>Borrar datos</button>
         <button>Enviar</button>
        </form>
    </main>
    <footer class="main-footer">
        <section class="footer">
            <a href="#"><i class="fa-solid fa-credit-card"></i></a>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer">
            <a href="#"><i class="fa-solid fa-gift"></i></a>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer">
            <a href="#"><i class="fa-solid fa-user-shield"></i></a>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
    </footer> 
    <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>